<div class="row" *ngIf="customer">
    <h2>Orders for {{ customer.firstName | capitalize }} {{ customer.lastName | capitalize }}</h2>
    <br />
    <table class="table table-striped table-hover orders-table">
        <tr *ngFor="let order of customer.orders">
            <td>{{ order.productName }}</td>
            <td>{{ order.itemCost | currency:currencyCode:true }}</td>    
        </tr>
        <tr>
            <td colspan="1">&nbsp;</td>
            <td>
                {{ customer.ordersTotal | currency:currencyCode:true }}
            </td>
        </tr>
    </table>
</div>
<div *ngIf="!customer" class="row">
   No customer found
</div>  
<br />
<a routerLink="/customers">View All Customers</a>

